
<div>
    <mat-toolbar color="primary" class="toolbar">
      <div class="main-icon">
        <span class="material-icons">
          bakery_dining
        </span>
        <span class="title">Coconuts</span>
      </div>
      
      <button  *ngIf="authActive" class="button" (click)="logout()">Cerrar Sesion</button>
    </mat-toolbar>


  </div>
<div *ngIf="authActive">

  <nav mat-tab-nav-bar mat-align-tabs = "end">
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
    
    </a>
  </nav>

</div>

<router-outlet></router-outlet>
